body {
  background-color: rgb(63, 54, 54);
  padding: 0;
  margin: 0;
}

.clock {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgb(237, 169, 80);
  margin: 100px auto 0px auto;
  position: relative;
  border: 20px solid rgb(255, 204, 0);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
}
.center {
  background-color: #000;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 20;
}
.hourHand {
  width: 10px;
  height: 95px;
  background-color: #000;
  transform-origin: bottom center;
  border-radius: 4px;
  position: absolute;
  top: 105px;
  left: 195px;
  z-index: 10;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  transform: rotate(360deg);
}
.minuteHand {
  width: 5px;
  height: 140px;
  background-color: #000;
  transform-origin: bottom center;
  border-radius: 4px;
  position: absolute;
  top: 58px;
  left: 195px;
  z-index: 9;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  transform: rotate(90deg);
}
.secondHand {
  width: 2px;
  height: 150px;
  background-color: red;
  transform-origin: bottom center;
  border-radius: 4px;
  position: absolute;
  top: 52px;
  left: 199px;
  transition: all 0.06s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  z-index: 8;
  transform: rotate(360deg);
}
.date {
  position: absolute;
  top: 45%;
  left: 10%;
  border: 1px solid #aca5a5;
  background-color: #e1d1d1;
  padding: 9px;
  display: block;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  min-width: 70px;
  height: 15px;
}

.clock ul {
  list-style: none;
  padding: 0;
}
.clock ul li {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  color: red;
}
.clock ul li:nth-child(1) {
  right: 1%;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  top: 46.5%;
}
.clock ul li:nth-child(2) {
  left: 46%;
  top: 90%;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
.clock ul li:nth-child(3) {
  left: 1%;
  top: calc(50% - 10px);
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
.clock ul li:nth-child(4) {
  left: 46%;
  top: 1%;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

@keyframes youtubeAnim {
  0%,
  100% {
    color: #c9110f;
  }
  50% {
    color: #ff0000;
  }
}
/* footer  */
